*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul{
    list-style: none;

}
a{
    text-decoration: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fcf5eb;


}
/* common css */

.container{
    width: 1120px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    
}

.download{
    
    background-color: #25d366;
    color: #1c1e21;
    padding: 16px 28px;
    font-size: 16px;
    border: 1px solid #1c1e21;
    border-radius: 35px ;
     overflow: hidden; 
     z-index: 1;
     display: inline-block;
     position: relative;
}
.download::after{
    position: absolute;
    content: "";
    background-color: #1c1e21 !important;
    width: 100% !important;
    height: 80px !important;
    border-radius: 50%;
    top: 100%;
    bottom: auto;
    z-index: -1;
    left: 0;
    transition: .5s !important;


}
.download:hover{
    color: white;
}
.download:hover::after{
    top:0;
    transform: scale(1.5);
}

.align_center{
    align-items: center;
}
/* commom css ends */

/* navbar starts */
nav{
    padding: 30px 50px 40px 50px;


}
nav .logo img{
    width:135px;
}
nav .logo,
nav .menu,
nav .download_button_group{
    width: 33.33%;

}

nav .menu ul li, 
nav .download_button_group ul li{
    display: inline-block;


}

nav .download_button_group ul li a,
nav .menu ul li a{
    color:#1c1e21 ;
    font-size: 16px;
    line-height: 25px;
    margin: 0 10px;
    position: relative;
    display: block;
    
}
nav .download_button_group ul li a::after,
nav .menu ul li a::after{
    content: "";
    width:0% ;
    height: 2px;
    background-color: #25d366;
    position: absolute ;
    bottom: -5px;
    left: 0;
    transition:0.3s;
    
}
nav .download_button_group ul li:hover a::after,
nav .menu ul li:hover a::after{
    width: 100%;
}

nav .download_button_group ul{
    text-align: right;
}
 nav .download_button_group ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
 }
 /* navbar ends */
 /* banner starts */

 #banner {
    background-image: url(../images/banner.png);
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100% calc(100% - 100px);
    margin: auto;
    border-radius: 35px;
    position: relative;
    display: block;
    
     
 }

 #banner .row{
    width: 1120px;
    height: 750px;
 }
 .banner_content{
    width:30%;
    color: #fcf5eb;
    align-items: center;

 }
 .banner_content h2{
    font-size: 60px;
    
 }
.banner_content p{
    font-size: 18px;
    margin: 10px 0;
}
.banner_content .download{
    border: none;
}
.banner_content .download::after{
    background-color: #fcf5eb !important ;
}
.banner_content .download:hover{
    color: #1c1e21;
}
.banner_content .download span{
    margin-left: 5px;

}

.banner_float_image{
    position: absolute;
    
    
}
.wish{
    top: 120px;
    right: 200px;
}
.cup{
    top: 160px;
    right: 120px;
}
.record{
    top:320px;
    right: 200px;
}
.picture{
    top:390px;
    right:200px;
}
.text{
    top: 640px;
    right:150px;
}
/* banner ends */

/* text_msg starts */
#text_msg img {
    width:100%;
    height: 280px;
    padding: 40px 40px 40px 40px;
}
#text_msg p{
    border:1px solid #fcf5eb;
    text-align: center;
    margin: 50px 120px;
    width:85%;
    font-size: 45px;
    font-weight: inherit;
    
    
}
/* text_msg ends */


/*calls starts */
#calls .row{
    height: 800px;
}

.video_calls {
    width: 40%;
    text-align: left;
}
.video_calls h1{
    
    font-size: 55px;
    font-weight: lighter;
}

.video_calls p{
    font-size: 17px;
    font-weight: lighter;
}

.video_calls a{
    color: #1c1e21;
    position: relative;
    display: block;
}
.video_calls a::after{
content: "";
width:18% ;
height: 2px;
background-color: #25d366;
position: absolute ;
bottom: -3px;
left: 0;
transition:0.3s;
}
.video_calls:hover a::after{
    color: #1c1e21;
}






















 